GSU-EPAM_Autumn_2016/results.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="results">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0" type="Student"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element type="Login" name="login"/>
      <xs:element name="tests" type="Tests" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Tests">
    <xs:sequence>
      <xs:element name="test" maxOccurs="unbounded" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute type="xs:string" name="name" use="optional"/>
              <xs:attribute type="xs:date" name="date" use="optional"/>
              <xs:attribute type="Mark" name="mark" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Login">

    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-z](\d|\w){2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Mark">
    <xs:restriction base="xs:float">
      <xs:pattern value="(\d[.]\d)|([1][0])[.][0]" />
    </xs:restriction>
  </xs:simpleType>
  <!--(\d[.]\d)|([01]\d[.][0])-->
</xs:schema>